---
import Layout from "../components/Layout.astro";
---
<Layout>
  <h1>Guides</h1>
  <p>Browse all available guides for MyProfitLand.</p>

  <ul>
    <li><a href="/article1">War Strategy Guide</a></li>
    <li><a href="/guides">Economy Guide</a></li>
  </ul>
</Layout>
