---
import Layout from "../components/Layout.astro";
---
<Layout>
  <h1>Latest Updates</h1>
  <p>Stay informed about the latest MPL changes.</p>

  <ul>
    <li>New Auto-Hit Feature</li>
    <li>War System Improvements</li>
  </ul>
</Layout>
