---
---
<aside class="sidebar">
  <h3>Sections</h3>
  <ul>
    <li><a href="/guides">Beginner Guide</a></li>
    <li><a href="/article1">War Guide</a></li>
    <li><a href="/tools">Companies Calculator</a></li>
    <li><a href="/tools">Products Calculator</a></li>
    <li><a href="/updates">Latest Updates</a></li>
  </ul>
</aside>
