---
---
<nav class="navbar">
  <div class="logo">MyProfitLand</div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>

    <li class="dropdown">
      <a href="/guides">Guides ▼</a>
      <ul class="dropdown-menu">
        <li><a href="/guides">Beginner</a></li>
        <li><a href="/article1">War Guide</a></li>
        <li><a href="/guides">Economy</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/tools">Tools ▼</a>
      <ul class="dropdown-menu">
        <li><a href="/tools">Companies Calculator</a></li>
        <li><a href="/tools">Products Calculator</a></li>
      </ul>
    </li>

    <li><a href="/updates">Updates</a></li>
  </ul>
</nav>
